<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Envia</title>
</head>
<body>
    <div class="container">
    <form action="https://suaurl/criaconversa" method="post">
        <div class="form-group">
            <br><br>
            <p>Preencha as informações abaixo</p>

            <div class="field">
                <label for="Numero">Whatsapp</label>
                <input type="number" class="form-control" id="telefone" name="telefone" placeholder="11XXXXXXXX" required>
            </div>
        </div>
        <br>
        <input type="submit" class="btn btn-primary" name="envia" value="Enviar">
    </form>
    </div>
</body>
</html>
</body>
</html>